@tailwind base;
@tailwind components;
@tailwind utilities;

.CBlur {
  margin-top: -150px;
  background: white;
  backdrop-filter: blur(50px);
}

.CBlurMobi {
  margin-top: -20px;
  background: white;
}

.ant-picker-input>input::placeholder {
  visibility: hidden;
}

.btnCheckin {
  background-color: #ff5e1f;
  /* width: 200px;
  height: 50px; */
  color: white;
  border-radius: 8px;
  font-weight: 600;
}

.btnSeeMore {
  background-color: white;
  border: 1px solid #ff5e1f;
  color: #ff5e1f;
  border-radius: 15px;
  margin: 0 45%;
}

.btnSeeMore:hover {
  background-color: #ff5e1f;
  color: white;
}

.bg-box {
  background-color: #0064d2;
  border-radius: 0 0 100% 100%;
  height: 70px;
}

/* HotelCarousel.css */
.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: auto;
}

.slick-slide>div {
  margin: 0 5px;
}


.silder {
  margin: 0 auto;
  position: relative;
}

.slick-list {
  margin: 0 -10px;
}

.slick-track {
  height: 400px;
}

.slick-dots {
  bottom: 50px !important;
}

@media (max-width:600px) {
  .btnSeeMore {
    margin: 0px 30%;
  }
}